/* CSS Document */

#merchant_id, #public_key, #private_key, #re_site_key, #re_secret_key {
	width: 400px;
}
#cse_key {
	width: 400px;
	height: 100px;
}

/* .postbox mods */
.postbox {
	padding: 10px;
}