/* CSS Document */

.wp_braintree_button .dialog-form {
    display: none;
}

.wpb-form-control {
    width: 100%;
    display: inline-block;
    height: 40px;
    max-height: 40px;
    padding: .5em .6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #666;
    background: #fff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    font: inherit;
    line-height: normal;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused { 
    border: 1px solid #0275d8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.braintree-hosted-fields-invalid {
    border-color: tomato;
}

.braintree-hosted-fields-valid {
    border-color: green;
}

.braintree-hosted-fields-focused.focused-invalid {
    border: 1px solid #ebcccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
}

.pure-form.pure-form-aligned input {
    width: auto;
}

div#expiration-month, div#expiration-year {
    display: inline-block;
    width: 45%;
}
div.wpb-slash {
    display: inline-block;
    height: 40px;
    vertical-align: text-bottom;
    padding: 5px;
    text-align: center;
}